{% extends '_base.html' %}
{% block title %}任务管理{% endblock %}
{% block body %}
<!-- 任务表格 -->
<div class="layui-fluid">
    <!-- 搜索表单 -->
    <form class="layui-form layui-row layui-col-space16">
        <div style="float:left">
            <div class="layui-row layui-col-space16">
<!--?                <div class="layui-col-md2">-->
<!--?                    <div class="layui-input-wrap">-->
<!--?                      <div class="layui-input-prefix">-->
<!--?                        <i class="layui-icon layui-icon-list"></i>-->
<!--?                      </div>-->
<!--?                      <select name="project_id" id="project_id_f" lay-filter="project-select" lay-search="">-->
<!--?                          <option value="">请选择项目名称</option>-->
<!--?                      </select>-->
<!--?                    </div>-->
<!--?                </div>-->

                <div class="layui-col-md2">
                    <div class="layui-input-wrap">
                      <select name="department_id">
                          <option value="">部门</option>
                          <option value=3>产品设计室</option>
                          <option value=4>营业技术室</option>
                          <option value=5>自动化设计室</option>
                      </select>
                    </div>
                </div>

                <div class="layui-col-md2">
                    <div class="layui-input-wrap">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-username"></i>
                      </div>
                      <select name="user_id" id="user_id_f" lay-filter="user-select" lay-search="">
                          <option value="">请选择负责人</option>
                      </select>
                    </div>
                </div>
<!--?                <div class="layui-col-md1">-->
<!--?                    <div class="layui-input-wrap">-->
<!--?                      <div class="layui-input-prefix">-->
<!--?                        <i class="layui-icon layui-icon-username"></i>-->
<!--?                      </div>-->
<!--?                      <select name="status">-->
<!--?                          <option value="">任务状态</option>-->
<!--?                          <option value="">全部</option>-->
<!--?                          <option value="completed">已完成</option>-->
<!--?                          <option value="uncompleted">未完成</option>-->
<!--?                      </select>-->
<!--?                    </div>-->
<!--?                </div>-->
                <div class="layui-col-md2">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-date"></i>
                        </div>
                        <input type="text" name="date-start" readonly placeholder="开始日期" lay-affix="clear" class="layui-input date-input">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-input-wrap">
                      <div class="layui-input-prefix">
                        <i class="layui-icon layui-icon-date"></i>
                      </div>
                      <input type="text" name="date-end" readonly placeholder="结束日期" class="layui-input date-input">
                    </div>
                </div>
                <div class="layui-btn-container layui-col-md2">
                    <button class="layui-btn" lay-submit lay-filter="table-search">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary">清空</button>
                </div>
            </div>
        </div>
        <div style="float: right">
            <div>
                <label class="layui-form-label">显示已完成</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="status2" id="status-switch" lay-skin="switch" lay-filter="statusSwitch">
                </div>
            </div>
        </div>

    </form>
    <table class="layui-hide" id="task-table" lay-filter="task-table"></table>
</div>

<!-- 子任务表格 -->
<div class="layui-fluid" id="subTask-page" style="display: none">
    <table class="layui-hide" id="subTask-table" lay-filter="subTask-table"></table>
</div>

<!--添加/编辑 任务 弹窗表单-->
<form class="layui-form" action="" id="task-form" lay-filter="task-form" style="margin-top: 20px; display: none">
    <div style="padding-right: 20px;">
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" value="0" lay-verify="required" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="title" lay-verify="required" lay-affix="clear" autocomplete="off" placeholder="请输入任务标题"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="">
            <label class="layui-form-label">父任务ID</label>
            <div class="layui-input-block">
                <input type="text" name="parent_id" id="parent_id" lay-affix="clear" autocomplete="off" placeholder="请输入父任务ID"
                       class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">计划开始日期</label>
            <div class="layui-input-block layui-input-wrap">
                <input type="text" name="planned_start_date" lay-affix="clear" placeholder="请选择计划开始日期" class="layui-input date-input"></input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">计划完成日期</label>
            <div class="layui-input-block layui-input-wrap">
                <input type="text" name="planned_end_date" lay-affix="clear" placeholder="请选择计划完成日期" class="layui-input date-input"></input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实际完成日期</label>
            <div class="layui-input-block">
                <input type="text" name="actual_end_date" lay-affix="clear" placeholder="请选择实际完成日期" class="layui-input date-input"></input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">计划工时</label>
            <div class="layui-input-block">
                <input type="text" name="planned_man_hours" lay-affix="clear" autocomplete="off" placeholder="请输入计划工时"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属项目</label>
            <div class="layui-input-block">
                <select name="project_id" id="project_id" lay-filter="project_id_select" lay-search="">
                    <option value="">请选择项目名称</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务类型</label>
            <div class="layui-input-block">
                <select name="task_type_id" id="task_type_id" lay-filter="task_type_select">
                    <option value="">请选择任务类型</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分配给</label>
            <div class="layui-input-block">
                <select name="owner_id" id="owner_id" lay-filter="towner_id_select" lay-search="">
                    <option value="">请选择任务负责人</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">任务状态</label>
            <div class="layui-input-block">
                <select name="status">
                    <option value="">请选择任务状态</option>
                    <option value="未开始" selected>未开始</option>
                    <option value="进行中">进行中</option>
                    <option value="已完成">已完成</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="task-form-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>


<!-- 工时表格 -->
<div class="layui-fluid" id="man-hour-page" style="display: none">
    <table class="layui-hide" id="man-hour-table" lay-filter="man-hour-table"></table>
</div>

<!--添加/修改工时弹窗表单-->
<form class="layui-form" action="" id="man-hour-form" lay-filter="man-hour-form" style="margin-top: 20px; display: none">
    <div style="padding-right: 20px;">
        <div class="layui-form-item" style="display: none">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" value="0" lay-verify="required" autocomplete="off" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <input type="text" name="content" lay-verify="required" lay-affix="clear" placeholder="请简述工作内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-block">
                <input type="text" name="work_date" lay-verify="required" lay-affix="clear" placeholder="请选择日期" class="layui-input date-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工时</label>
            <div class="layui-input-block">
                <input type="text" name="man_hour" lay-verify="required" lay-affix="clear" autocomplete="off" placeholder="请输入工时"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="man-hour-form-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </div>
</form>


<!-- 顶部工具栏（任务表） -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="toolbar-add">添加任务</button>
        <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="toolbar-expand">全部展开</button>
        <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="toolbar-unExpand">全部折叠</button>
<!--?        <button class="layui-btn layui-btn-sm layui-btn-primary" id = "treeMode">-->
<!--?            <span>显示模式</span>-->
<!--?            <i class="layui-icon layui-icon-down layui-font-12"></i>-->
<!--?        </button>-->
<!--?        <button class="layui-btn layui-btn-sm layui-btn-primary" id = "taskStatus">-->
<!--?            <span>任务状态</span>-->
<!--?            <i class="layui-icon layui-icon-down layui-font-12"></i>-->
<!--?        </button>-->

    </div>
</script>

<!-- 子任务表顶部工具栏 -->
<script type="text/html" id="subTask-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="toolbar-add">添加子任务</button>
    </div>
</script>

<!-- 工时表顶部工具栏 -->
<script type="text/html" id="man-hour-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="toolbar-add">添加工时</button>
    </div>
</script>


<!-- 右侧工具栏(任务表) -->
<script type="text/html" id="tools">
    {% raw %}
    {{# if (!d.isParent) { }}
    <a class="layui-btn layui-btn-xs" lay-event="task-edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="show-man-hour-page">工时</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="task-del">删除</a>
    {{# } }}
    {% endraw %}
</script>

<!-- 任务表右侧工具栏 -->
<script type="text/html" id="tools-bac">
<!--?    {% raw %}-->
<!--?    {{# if (d.is_parent) { }}-->
<!--?    <a class="layui-btn layui-btn-xs layui-btn-disabled">编辑</a>-->
<!--?    <a class="layui-btn layui-btn-xs layui-btn-disabled">工时</a>-->
<!--?    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled">删除</a>-->
<!--?    {{# }else{ }}-->
    <a class="layui-btn layui-btn-xs" lay-event="task-edit">编辑</a>
    <a class="layui-btn layui-btn-xs" lay-event="show-man-hour-page">工时</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="task-del">删除</a>
<!--?    {{# } }}-->
<!--?    {% endraw %}-->
</script>

<!-- 工时表右侧工具栏 -->
<script type="text/html" id="man-hour-tools">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    // 更改 禁用 列的渲染
    function render_disable(d) {
        if (d.disabled) {
            return '是'
        } else {
            return '否'
        }
    }


    // layui.use(['treeTable','table', 'jquery', 'form', 'layer', 'laydate', 'dropdown', 'renderProject'], function () {
    // layui.use(['renderProject'], function () {
    layui.use(['pmlite'], function () {
        var treeTable = layui.treeTable;
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        let laydate = layui.laydate;
        let dropdown = layui.dropdown;
        // let renderProject = layui.renderProject;
        let pmlite = layui.pmlite;

        let task_id = 0

        // import {get_projects_} from "../../static/js/pmlite";


        // 给默认的ajax请求添加权限
        $.ajaxSetup({
            headers: {
                Authorization: "Bearer " + localStorage.getItem("access_token")
            }
        })

        laydate.render({
            elem: '.date-input'
        })

        let url = '/api/v1/task/treetable';

        // 根据从视图函数传递的参数，动态构建url
        if ('{{ query }}'){
           url += '?query=' + '{{ query }}'
        }

        let taskShowAll = layui.data('task').taskShowAll
        if (taskShowAll){
            $('#status-switch').prop("checked", true)  // 使显示已完成switch选中
        } else {
            url += '&status=uncompleted'
        }

        url += '&c_user=' + '{{c_user|default("")}}' + '&status=' + '{{ status }}'
        console.log("page_url:", url)

        let hideCol = false;
        if ('{{ pid }}' !== "None"){
            url = '/api/v1/project/{{ pid }}/tasks';
            hideCol = true
        }

        // 渲染表格
        treeTable.render({
            elem: '#task-table',
            id: 'task-table',
            url: url,
            // url: '/api/v1/task',
            toolbar: '#toolbar',
            page: true,
            limit: 30,
            height: 'full-140',
            cols: [function (){
                let arr = [
                    {field: 'id', title: 'ID', width: 60, align: 'center', fixed: 'left'},
                    {field: 'title', title: '任务标题', minWidth: 300, fixed: 'left'},
                    {field: 'task_type', title: '任务类型', width: 100, hide: hideCol},
                    {field: 'project', title: '所属项目', align: 'center', width: 150, sort: true, hide: hideCol},
                    {field: 'creator', title: '创建者', align: 'center', width: 80},
                    {field: 'owner', title: '负责人', align: 'center', width: 100, sort: true},
                    {field: 'planned_start_date', title: '计划开始日期', align: 'center', width: 120},
                    {field: 'planned_end_date', title: '计划完成日期', align: 'center', width: 120},
                    {field: 'actual_start_date', title: '实际开始日期', Width: 120, align: 'center', width: 120},
                    {field: 'actual_end_date', title: '实际完成日期', Width: 120, align: 'center', width: 120},
                    {field: 'planned_man_hours', title: '计划工时', align: 'center', width: 100},
                    {field: 'actual_man_hours', title: '实际工时', align: 'center', width: 100},
                    {field: 'status', title: '完成状态', align: 'center', width: 120, sort: true},
                    {title: '操作', fixed: "right", width: 180, toolbar: '#tools'}

                ];
                let local = layui.data('taskTableCols');
                layui.each(arr, function (index, item){
                    if(item.field in local){
                        item.hide = local[item.field]
                    }
                });
                return arr;
            }()],

            // cols: [
            //     [   // 标题栏
            //         {field: 'id', title: 'ID', width:60 ,align: 'center', fixed: 'left'},
            //         {field: 'title', title: '任务标题', minWidth: 300, fixed: 'left'},
            //         {field: 'task_type', title: '任务类型', width:100, hide: hideCol},
            //         {field: 'project', title: '所属项目', align: 'center', width: 150, sort: true, hide: hideCol},
            //         {field: 'creator', title: '创建者', align: 'center', width: 80},
            //         {field: 'owner', title: '负责人', align: 'center', width: 100, sort: true},
            //         {field: 'planned_start_date', title: '计划开始日期', align: 'center', width: 120},
            //         {field: 'planned_end_date', title: '计划完成日期', align: 'center', width: 120},
            //         {field: 'actual_start_date', title: '实际开始日期', Width: 120, align: 'center', width: 120},
            //         {field: 'actual_end_date', title: '实际完成日期', Width: 120, align: 'center', width: 120},
            //         {field: 'planned_man_hours', title: '计划工时', align: 'center', width: 100},
            //         {field: 'actual_man_hours', title: '实际工时', align: 'center', width: 100},
            //         {field: 'status', title: '完成状态', align: 'center', width: 120, sort: true},
            //         {title: '操作', fixed: "right", width: 180, toolbar: '#tools'}
            //     ]
            // ],
            tree: {
                view: {
                    'expandAllDefault': true,  // 默认展开全部节点，默认为false
                    'dblClickExpand': false
                },
                customName: {
                    'name': 'title',
                }
            },
            done: function (){
                let id = this.id;
                let that = this;
                // 记录显示列筛选状态
                that.elem.next().on('mousedown', 'input[lay-filter="LAY_TABLE_TOOL_COLS"]+', function () {
                    let input = $(this).prev()[0];
                    layui.data('taskTableCols', {
                        key: input.name,
                        value: input.checked
                    })
                });
                // 显示模式
                dropdown.render({
                    elem: '#treeMode',
                    data: [{
                        id: 'table-show',
                        title: '折叠模式'
                    },{
                        id: 'treeTable-show',
                        title: '展示模式'
                    }],
                    // 菜单被点击的事件
                    click: function (obj){
                        switch(obj.id){
                            case 'table-show':
                                treeTable.expandAll('task-table', false); // 关闭全部节点
                            break;
                            case 'treeTable-show':
                                treeTable.expandAll('task-table', true); // 关闭全部节点
                            break;
                        }
                    }
                });
                // 任务状态
                dropdown.render({
                    elem: '#taskStatus',
                    data: [{
                        id: 'all',
                        title: '全部'
                    },{
                        id: 'uncompleted',
                        title: '未完成'
                    }],
                    // 菜单被点击的事件
                    click: function (obj){
                        const page_url = new URL(location.href)
                        const pid = page_url.searchParams.get('pid')
                        switch(obj.id){
                            case 'all':
                                treeTable.reload('task-table', {
                                    url: '/api/v1/project/' +  pid + '/tasks'
                                });
                            break;
                            case 'uncompleted':

                                // treeTable.reload('task-table', {
                                //     url: location.href + "&"
                                // });
                            break;
                        }
                    }
                });
            }
        });




        // 获取部门列表，并渲染
        const get_types = function (obj) {
            $.ajax({
                url: "/api/v1/task/types",
                type: "get",
                async: false,
                success: function (res) {
                    console.log(res.data)
                    let content = '<option value="">请选择任务类型</option>'
                    $.each(res.data, function (i, val) {
                        // content += '<option value="' + val.id + '">' + val.name + '</option>'
                        //if (val.parent_id != 0) {
                            if (obj && val.name === obj.data.task_type) {
                                content += '<option value="' + val.id + '" selected>' + val.name + '</option>'
                            } else {
                                content += '<option value="' + val.id + '">' + val.name + '</option>'
                            }
                        //}
                    })
                    // console.log(content)
                    let s = $('#task_type_id')
                    s.html(content)
                    //console.log(s.html())
                    form.render('select')
                }
            })
        }


        // 获取项目列表，并渲染
        // const get_projects_new = function (obj) {
        //     $.ajax({
        //         url: "/api/v1/project",
        //         type: "get",
        //         async: false,
        //         success: function (res) {
        //             console.log(res.data)
        //             let content = '<option value="">请选择项目名称</option>'
        //             $.each(res.data, function (i, val) {
        //                 content += '<option value="' + val.id + '">' + val.name + '</option>'
        //                 //}
        //             })
        //             // console.log(content)
        //             $('#project_id_f').html(content)
        //             //console.log(s.html())
        //             form.render('select')
        //         }
        //     })
        // }
        // get_projects_new()  // 渲染搜索表单

        pmlite.getProjects('project_id_f')  // 顶部查询条件中项目渲染
        pmlite.getUsers('user_id_f')  // 顶部查询条件渲染用户
        // const $ele = $('#project_id_f')
        // get_projects_($ele, form)



        // 获取项目列表，并渲染
        const get_projects = function (obj) {
            $.ajax({
                url: "/api/v1/project?status=uncompleted",
                type: "get",
                async: false,
                success: function (res) {
                    console.log(res.data)
                    let content = '<option value="">请选择项目名称</option>'
                    $.each(res.data, function (i, val) {
                        // content += '<option value="' + val.id + '">' + val.name + '</option>'
                        //if (val.parent_id != 0) {
                            if (obj && val.name === obj.data.project) {
                                content += '<option value="' + val.id + '" selected>' + val.name + '</option>'
                            } else {
                                content += '<option value="' + val.id + '">' + val.name + '</option>'
                            }
                        //}
                    })
                    // console.log(content)
                    let s = $('#project_id')
                    s.html(content)
                    $('#pId_filter').html(content)
                    //console.log(s.html())
                    form.render('select')
                }
            })
        }

        // 获取用户列表，并渲染
        // const get_users_new = function (obj) {
        //     $.ajax({
        //         url: "/api/v1/user",
        //         type: "get",
        //         async: false,
        //         success: function (res) {
        //             console.log(res.data)
        //             let content = '<option value="">任务负责人（可搜索）</option>'
        //             $.each(res.data, function (i, val) {
        //                 content += '<option value="' + val.id + '">' + val.name + '</option>'
        //
        //             })
        //             // console.log(content)
        //             $('#user_id_f').html(content)
        //             //console.log(s.html())
        //             form.render('select')
        //         }
        //     })
        // }

        //get_users_new()  // 渲染搜索表单



        // 获取用户列表，并渲染
        const get_users = function (obj) {
            $.ajax({
                url: "/api/v1/user",
                type: "get",
                async: false,
                success: function (res) {
                    console.log(res.data)
                    let content = '<option value="">负责人（可搜索）</option>'
                    $.each(res.data, function (i, val) {
                        // content += '<option value="' + val.id + '">' + val.name + '</option>'
                        //if (val.parent_id != 0) {
                            if (obj && val.name === obj.data.owner) {
                                content += '<option value="' + val.id + '" selected>' + val.name + '</option>'
                            } else {
                                content += '<option value="' + val.id + '">' + val.name + '</option>'
                            }
                        //}
                    })
                    // console.log(content)
                    let s = $('#owner_id')
                    s.html(content)
                    //console.log(s.html())
                    form.render('select')
                }
            })
        }

        // 顶部工具栏事件
        treeTable.on('toolbar(task-table)', function (obj){
            var options = obj.config;  //获取当前表格属性配置项

            // 根据不同的事件名进行相应的操作
            switch (obj.event){  // 对应模板元素中的 lay-event 属性值
                case 'toolbar-add':
                    // console.log("obj", obj)
                    $("#task-form")[0].reset();  // 将ID表单清空
                    layer.open({
                        type: 1,
                        title: "添加任务",
                        shade: false,
                        content: $("#task-form"),
                        area: ["800px", "500px"]
                    })
                    get_types()  // 获取部门，并渲染select
                    get_projects()  // 获取未完成项目，并渲染select
                    // get_users()  // 获取用户，并渲染select
                    pmlite.getUsers('owner_id', undefined, 'owner', true)
                    break;
                    //form.render($("#user-form"))
                case 'toolbar-expand':
                    treeTable.expandAll('task-table', true)
                    break;
                case 'toolbar-unExpand':
                    treeTable.expandAll('task-table', false)
                    break;
            }
        })

        // 单元格工具事件（操作列的按钮组）
        treeTable.on('tool(task-table)', function (obj) {
            if (obj.event === 'task-edit') {  // 编辑
                form.val('task-form', obj.data);
                console.log("obj", obj)

                // 获取部门列表，并渲染非一级部门
                get_types(obj)  // 获取部门，并渲染select
                get_projects(obj)  // 获取未完成项目，并渲染select
                // renderProject.getProjects('project_id', 'uncompleted', obj)
                // get_users(obj)  // 获取用户，并渲染select
                pmlite.getUsers('owner_id', obj, 'owner')
                layer.open({
                    type: 1,
                    title: '修改任务',
                    area: ['800px', '500px'],
                    content: $('#task-form'),  // 捕获的元素
                });
            } else if ( obj.event === 'show-man-hour-page') {  // 工时
                task_id = obj.data.id
                layer.open({
                    type: 1,
                    title: '工时',
                    area: ['800px', '500px'],
                    totalRow: true,
                    content: $('#man-hour-page'),  // 捕获的元素
                    cancel: function (){  // 工时弹窗关闭时，刷新任务表中的实际工时
                        table.reloadData('task-table', {
                            scrollPos: 'fixed'
                        })
                    }
                });

                // 渲染表格
                table.render({
                    elem: '#man-hour-table',
                    id: 'man-hour-table',
                    url: `/api/v1/task/${obj.data.id}/man-hour`,
                    toolbar: '#man-hour-toolbar',
                    page: true,
                    cols: [
                        [   // 标题栏
                            {field: 'id', title: 'ID', sort: true, align: 'center'},
                            {field: 'content', title: '内容'},
                            {field: 'work_date', title: '日期'},
                            {field: 'man_hour', title: '工时'},
                            {field: 'user', title: '登录人'},
                            {title: '操作', fixed: "right", width: 180, toolbar: '#man-hour-tools'}
                        ]
                    ],
                });
                // 顶部工具栏事件
                table.on('toolbar(man-hour-table)', function (obj) {
                    var options = obj.config;  //获取当前表格属性配置项

                    // 根据不同的事件名进行相应的操作
                    switch (obj.event) {  // 对应模板元素中的 lay-event 属性值
                        case 'toolbar-add':
                            $("#man-hour-form")[0].reset();  // 将ID表单清空
                            layer.open({
                                type: 1,
                                title: "添加工时",
                                shade: false,
                                content: $("#man-hour-form"),
                                area: ["800px", "500px"]
                            })

                            break;
                            //form.render($("#user-form"))
                    }
                })

                table.on('tool(man-hour-table)', function (obj){

                    if (obj.event === 'edit'){

                        form.val('man-hour-form', obj.data);
                        layer.open({
                            type: 1,
                            title: "修改工时",
                            content: $("#man-hour-form"),
                            area: ["800px", "500px"]
                        })
                    } else if (obj.event ==='del'){
                        layer.confirm('确认删除么？', function (index) {
                        $.ajax({
                            url: `/api/v1/task/${task_id}/man-hour/${obj.data.id}`,
                            type: "DELETE",
                            contentType: "application/json",
                            success: function (res){
                                if (!res.code){
                                    layer.msg(res.msg, {
                                        icon: 1,
                                        time: 1000
                                    }, function(){
                                        table.reloadData('man-hour-table',{
                                            scrollPos: 'fixed'
                                        })
                                    })
                                } else {
                                    layer.msg(res.msg, {
                                        icon: 2,
                                        time: 1500,
                                    });
                                }
                            }
                        })
                        layer.close(index);
                    });
                    }
                })

            } else if ( obj.event === 'task-del') {  // 删除
                layer.confirm('确认删除么？', function (index) {
                    $.ajax({
                        url: `/api/v1/task/${obj.data.id}`,
                        type: "DELETE",
                        contentType: "application/json",
                        success: function (res){
                            if (!res.code){
                                layer.msg(res.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function(){
                                    table.reloadData('task-table', {
                                        scrollPos: 'fixed'
                                    })
                                })
                            } else {
                                layer.msg(res.msg, {
                                    icon: 2,
                                    time: 1500,
                                });
                            }
                        }
                    })
                    layer.close(index);
                });
            }
        });

        // 行双击事件( 单击事件为: row )：添加子任务
        treeTable.on('rowDouble(task-table)', function (obj) {
            console.log(obj.data)
            if(!obj.data.parent_id){
                get_types()  // 获取部门，并渲染select
                get_projects()  // 获取未完成项目，并渲染select
                // get_users()  // 获取用户，并渲染select
                // pmlite.getUsers('owner_id', undefined, 'owner', 1)
                pmlite.getUsers('owner_id', undefined, 'owner', 0, obj.data.owner_id, undefined)
                $("#task-form")[0].reset();  // 将ID表单清空
                $("#parent_id").val(obj.data.id)
                // $("#title").val(obj.data.title + "_")
                layer.open({
                    type: 1,
                    title: "添加子任务",
                    shade: false,
                    content: $("#task-form"),
                    area: ["800px", "500px"]
                })

            }else{
                    layer.msg("子任务无法添加子任务！",{
                        icon: 2,
                        time: 1000
                    })
            }

        });

        // 显示已完成 的switch切换事件
        form.on('switch(statusSwitch)', function (data) {
            layui.data('task', {
                key: 'taskShowAll',
                value: this.checked
            })
            if (this.checked) {  // 选中，即显示已完成
                url = url.replace('status=uncompleted', '')
            } else {
                if (url.endsWith('&')) {
                    url += 'status=uncompleted'
                } else {
                    url += '&status=uncompleted'
                }

            }
            console.log('请求url:', url)
            table.reload('task-table', {
                url: url
            })
        })




        // 任务弹窗表单提交事件
        form.on('submit(task-form-submit)', function (data) {
            console.log(data)
            let field = data.field; // 获取表单字段值
            // layui中开关的被选中是“on”，需要转换成ture或false
            // ？. 为可选链运算符，即使不存在该属性的值，也不会报错
            //field.disabled = field?.disabled ? true: false
            if (field.id == 0){
                field.id = null;
                method = "POST";
                url = "/api/v1/task";
            }else{
                method = "PUT";
                url = `/api/v1/task/${field.id}`;
            }

            $.ajax({
                method: method,
                url: url,
                data: JSON.stringify(field),
                contentType: "application/json",
                //datatype: "json",
                success: function (res){
                    layer.msg(res.msg, {
                        icon: 1,
                        time: 1000
                    }, function(){
                        layer.closeAll('page');
                        table.reloadData('task-table', {
                            scrollPos: 'fixed'
                        })
                    })
                },
                error: function (res){
                    layer.msg(res.msg,{
                        icon: 2,
                        time: 1000
                    })
                }
            })
            return false; // 阻止默认 form 跳转
        });

        // 工时弹窗表单提交事件
        form.on('submit(man-hour-form-submit)', function (data) {
            let field = data.field; // 获取表单字段值
            field.task_id = task_id  // 绑定所属任务id

            //输入的工时数检查，不能小于等于0
            if (field.man_hour <= 0 || isNaN(field.man_hour)){
                layer.msg('请填写正确的工时数。', {
                    icon: 2,
                    time: 1000
                });
                return false;
            }

            // layui中开关的被选中是“on”，需要转换成ture或false
            // ？. 为可选链运算符，即使不存在该属性的值，也不会报错
            //field.disabled = field?.disabled ? true: false
            if (field.id == 0){
                field.id = null;
                method = "POST";
                url = `/api/v1/task/${task_id}/man-hour`;
            }else{
                method = "PUT";
                url = `/api/v1/task/${task_id}/man-hour/${field.id}`;
            }

            $.ajax({
                method: method,
                url: url,
                data: JSON.stringify(field),
                contentType: "application/json",
                //datatype: "json",
                success: function (res){
                    layer.msg(res.msg, {
                        icon: 1,
                        time: 1000
                    }, function(){
                        //layer.closeAll('page');
                        layer.closeLast('page')
                        table.reloadData('man-hour-table', {
                            scrollPos: 'fixed'
                        })
                    })
                },
                error: function (res){
                    layer.msg(res.msg,{
                        icon: 2,
                        time: 1000
                    })
                }
            })
            return false; // 阻止默认 form 跳转
        });

        // 搜索表单提交按钮
        form.on('submit(table-search)', function (data) {
            let field = data.field; // 获取表单字段值
            console.log(field)
            url = '/api/v1/task/treetable'
            // url = '/api/v1/task/man-hour'
            url += '?start=' + field['date-start'] + '&end=' + field['date-end'] + '&user_id=' + field['user_id']
                    + '&department_id=' + field['department_id']
            console.log(url)
            // console.log(url)
            treeTable.reload('task-table', {
                url: url
            })
            return false; // 阻止默认 form 跳转
        });
    });

</script>
{% endblock %}