{% extends '_base.html' %}
{% block title %}工时管理{% endblock %}
{% block body %}
<!-- 工时表格 -->
<div class="layui-fluid">
    <form class="layui-form layui-row layui-col-space16">
      <div class="layui-col-md3">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix">
            <i class="layui-icon layui-icon-username"></i>
          </div>
          <select name="user_id" id="user_id" lay-filter="user-select" lay-search="">
              <option value="">请选择登录人</option>
          </select>
        </div>
      </div>
      <div class="layui-col-md3">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-date"></i>
            </div>
            <input type="text" name="date-start" readonly placeholder="开始日期" lay-affix="clear" class="layui-input date-input">
        </div>
      </div>
      <div class="layui-col-md3">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix">
            <i class="layui-icon layui-icon-date"></i>
          </div>
          <input type="text" name="date-end" readonly placeholder="结束日期" class="layui-input date-input">
        </div>
      </div>
      <div class="layui-btn-container layui-col-md3">
        <button class="layui-btn" lay-submit lay-filter="table-search">查询</button>
        <button type="reset" class="layui-btn layui-btn-primary">清空</button>
      </div>
    </form>
    <table class="layui-hide" id="manHour-table" lay-filter="manHour-table"></table>
</div>


<!-- 任务表顶部工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
<!--?        <button class="layui-btn layui-btn-sm" lay-event="toolbar-add">添加任务</button>-->
    </div>
</script>


<!-- 任务表右侧工具栏 -->
<script type="text/html" id="tools">
<!--?    <a class="layui-btn layui-btn-xs" lay-event="task-edit">编辑</a>-->
<!--?    <a class="layui-btn layui-btn-xs" lay-event="show-man-hour-page">工时</a>-->
<!--?    <a class="layui-btn layui-btn-xs" lay-event="subtask-add">子任务</a>-->
<!--?    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="task-del">删除</a>-->
</script>



<script>

    layui.use(function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        let laydate = layui.laydate;

        let task_id = 0

        // 给默认的ajax请求添加权限
        $.ajaxSetup({
            headers: {
                Authorization: "Bearer " + localStorage.getItem("access_token")
            }
        })

        laydate.render({
            elem: '.date-input'
        })

        let url = '/api/v1/task/man-hour';

        if ('{{ query }}'){
           url += '?query=' + '{{ query }}'
        }

        // 渲染表格
        table.render({
            elem: '#manHour-table',
            id: 'manHour-table',
            url: url,
            toolbar: '#toolbar',
            page: true,
            cols: [
                [   // 标题栏
                    {field: 'id', title: 'ID', width:60 ,align: 'center', fixed: 'left'},
                    {field: 'task', title: '任务标题'},
                    {field: 'user', title: '登录人', sort: true},
                    {field: 'work_date', title: '登录日期', sort: true},
                    {field: 'man_hour', title: '登录工时'},

                ]
            ],
        });



        // 获取用户列表，并渲染
        const get_users = function (obj) {
            $.ajax({
                url: "/api/v1/user",
                type: "get",
                async: false,
                success: function (res) {
                    console.log(res.data)
                    let content = '<option value="">请选择登陆人（可搜索）</option>'
                    $.each(res.data, function (i, val) {
                        // content += '<option value="' + val.id + '">' + val.name + '</option>'
                        //if (val.parent_id != 0) {
                            if (obj && val.name === obj.data.owner) {
                                content += '<option value="' + val.id + '" selected>' + val.name + '</option>'
                            } else {
                                content += '<option value="' + val.id + '">' + val.name + '</option>'
                            }
                        //}
                    })
                    // console.log(content)
                    let s = $('#user_id')
                    s.html(content)
                    //console.log(s.html())
                    form.render('select')
                }
            })
        }


        get_users()

        // 任务弹窗表单提交事件
        form.on('submit(table-search)', function (data) {
            let field = data.field; // 获取表单字段值
            //console.log(field)
            url = '/api/v1/task/man-hour'
            url += '?start=' + field['date-start'] + '&end=' + field['date-end'] + '&user_id=' + field['user_id']
            console.log(url)
            table.reload('manHour-table', {
                url: url
            })
            return false; // 阻止默认 form 跳转
        });

    });

</script>
{% endblock %}