{% extends '_base.html' %}
{% block title %}工时管理{% endblock %}
{% block body %}
<!-- 工时表格 -->
<div class="layui-fluid">
    <form class="layui-form layui-row layui-col-space16">
      <div class="layui-col-md3">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix">
            <i class="layui-icon layui-icon-username"></i>
          </div>
          <select name="user_id" id="user_id" lay-filter="user-select" lay-search="">
              <option value="">请选择登录人</option>
          </select>
        </div>
      </div>
      <div class="layui-col-md3">
        <div class="layui-input-wrap">
            <div class="layui-input-prefix">
                <i class="layui-icon layui-icon-date"></i>
            </div>
            <input type="text" name="date-start" readonly placeholder="开始日期" lay-affix="clear" class="layui-input date-input">
        </div>
      </div>
      <div class="layui-col-md3">
        <div class="layui-input-wrap">
          <div class="layui-input-prefix">
            <i class="layui-icon layui-icon-date"></i>
          </div>
          <input type="text" name="date-end" readonly placeholder="结束日期" class="layui-input date-input">
        </div>
      </div>
      <div class="layui-btn-container layui-col-md3">
        <button class="layui-btn" lay-submit lay-filter="table-search">查询</button>
        <button type="reset" class="layui-btn layui-btn-primary">清空</button>
      </div>
    </form>
    <table class="layui-hide" id="manHour-table" lay-filter="manHour-table"></table>
</div>

<!--?<div id="sealContainer"></div>-->

<!-- 任务表顶部工具栏 -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
<!--?        <button class="layui-btn layui-btn-sm" lay-event="toolbar-add">添加任务</button>-->
    </div>
</script>


<!-- 任务表右侧工具栏 -->
<script type="text/html" id="tools">
<!--?    <a class="layui-btn layui-btn-xs" lay-event="task-edit">编辑</a>-->
<!--?    <a class="layui-btn layui-btn-xs" lay-event="show-man-hour-page">工时</a>-->
<!--?    <a class="layui-btn layui-btn-xs" lay-event="subtask-add">子任务</a>-->
<!--?    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="task-del">删除</a>-->
</script>



<script>

    layui.use(function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        let laydate = layui.laydate;

        let task_id = 0

        // 给默认的ajax请求添加权限
        $.ajaxSetup({
            headers: {
                Authorization: "Bearer " + localStorage.getItem("access_token")
            }
        })

        laydate.render({
            elem: '.date-input'
        })

        let url = '/api/v1/task/man-hour';

        if ('{{ query }}'){
           url += '?query=' + '{{ query }}'
        }

        // 渲染表格
        table.render({
            elem: '#manHour-table',
            id: 'manHour-table',
            url: url,
            toolbar: '#toolbar',
            page: true,
            limit: 30,
            height: "full-140",
            totalRow: true,
            cols: [
                [   // 标题栏
                    {field: 'id', title: 'ID', width:60 ,align: 'center', fixed: 'left'},
                    {field: 'task', title: '任务标题', totalRow:'合计'},
                    {field: 'user', title: '登录人', sort: true},
                    {field: 'work_date', title: '登录日期', sort: true},
                    {field: 'man_hour', title: '登录工时', totalRow: '{% raw %}{{ parseInt(d.TOTAL_NUMS) }}{% endraw %} '},

                ]
            ],
        });



        // 获取用户列表，并渲染
        const get_users = function (obj) {
            $.ajax({
                url: "/api/v1/user",
                type: "get",
                async: false,
                success: function (res) {
                    console.log(res.data)
                    let content = '<option value="">请选择登陆人（可搜索）</option>'
                    $.each(res.data, function (i, val) {
                        // content += '<option value="' + val.id + '">' + val.name + '</option>'
                        //if (val.parent_id != 0) {
                            if (obj && val.name === obj.data.owner) {
                                content += '<option value="' + val.id + '" selected>' + val.name + '</option>'
                            } else {
                                content += '<option value="' + val.id + '">' + val.name + '</option>'
                            }
                        //}
                    })
                    // console.log(content)
                    let s = $('#user_id')
                    s.html(content)
                    //console.log(s.html())
                    form.render('select')
                }
            })
        }


        get_users()

        // 任务弹窗表单提交事件
        form.on('submit(table-search)', function (data) {
            let field = data.field; // 获取表单字段值
            //console.log(field)
            url = '/api/v1/task/man-hour'
            url += '?start=' + field['date-start'] + '&end=' + field['date-end'] + '&user_id=' + field['user_id']
            console.log(url)
            table.reload('manHour-table', {
                url: url
            })
            return false; // 阻止默认 form 跳转
        });



        // tag:所要创建的标签名称
        // attrs：所需要添加的属性， {key:val, key:val}
        function makeSVG(tag, attrs){
            const ns = "http://www.w3.org/2000/svg";

            let el = document.createElementNS(ns, tag);
            for (let k in attrs){
                el.setAttribute(k, attrs[k])
            }
            return el
        }

        // const svg = makeSVG('svg', {"width":"120", "height":"120"})
        // const circle = makeSVG("circle", {"cx":"60", "cy":"60", "r":"50", "stroke":"red", "fill":"none"})
        // const line1 = makeSVG("line", {"x1":"13", "y1":"44", "x2":"107", "y2":"44", "stroke":"red"})
        // const line2 = makeSVG("line", {"x1":"13", "y1":"76", "x2":"107", "y2":"76", "stroke":"red"})
        // const text1 = makeSVG("text", {"x":"60", "y":"36", "font-family":"Arial", "font-size":"14", "fill":"red", "text-anchor":"middle"})
        // const text2 = makeSVG("text", {"x":"60", "y":"65", "font-family":"Arial", "font-size":"14", "fill":"red", "text-anchor":"middle"})
        // const text3 = makeSVG("text", {"x":"60", "y":"95", "font-family":"Arial", "font-size":"14", "fill":"red", "text-anchor":"middle"})
        // text1.textContent = "自动化设计"
        // text2.textContent = "2024/09/11"
        // text3.textContent = "王忠义"

        function generateStamp(department, dateStr, name) {


            const svg = makeSVG('svg', {"width": "120", "height": "120"})
            const circle = makeSVG("circle", {"cx": "45", "cy": "45", "r": "40", "stroke": "red", "fill": "none"})
            const line1 = makeSVG("line", {"x1": "8", "y1": "34", "x2": "82", "y2": "34", "stroke": "red"})
            const line2 = makeSVG("line", {"x1": "8", "y1": "56", "x2": "82", "y2": "56", "stroke": "red"})
            const text1 = makeSVG("text", {
                "x": "45",
                "y": "28",
                "font-family": "Arial",
                "font-size": "12",
                "fill": "red",
                "text-anchor": "middle"
            })
            const text2 = makeSVG("text", {
                "x": "45",
                "y": "49",
                "font-family": "Arial",
                "font-size": "12",
                "fill": "red",
                "text-anchor": "middle"
            })
            const text3 = makeSVG("text", {
                "x": "45",
                "y": "71",
                "font-family": "Arial",
                "font-size": "12",
                "fill": "red",
                "text-anchor": "middle"
            })
            text1.textContent = department
            text2.textContent = dateStr
            text3.textContent = name


            svg.appendChild(circle);  // 将圆元素添加到 SVG 元素中
            svg.appendChild(line1)
            svg.appendChild(line2)
            svg.appendChild(text1)
            svg.appendChild(text2)
            svg.appendChild(text3)

            return svg
        }


        const stamp1 = generateStamp("自动化设计","2024/09/11", "王忠义")

        // $("#sealContainer").append(stamp1);  // 将 SVG 元素添加到 HTML 文档中
        // document.getElementById("sealContainer").appendChild(stamp1)
        //document.getElementById("sealContainer").appendChild(stamp1)
        // $("#sealContainer").append(svg);  // 将 SVG 元素添加到 HTML 文档中

    });

</script>
{% endblock %}