{% extends '_base.html' %}
{% block title %}用户管理{% endblock %}
{% block body %}

<style>
.demo-login-container{width: 320px; margin: 100px auto 0;}
</style>

<form class="layui-form">
  <div class="demo-login-container">
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-username"></i>
        </div>
        <input type="text" name="number" value="" lay-verify="required" placeholder="员工编号" lay-reqtext="请填写员工编号" autocomplete="off" class="layui-input" lay-affix="clear">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-password"></i>
        </div>
        <input type="password" name="password" value="" lay-verify="required" placeholder="密   码" lay-reqtext="请填写密码" autocomplete="off" class="layui-input" lay-affix="eye">
      </div>
    </div>

    <div class="layui-form-item">
      <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
{#      <a href="#forget" style="float: right; margin-top: 7px;">忘记密码？</a>#}
    </div>
    <div class="layui-form-item">
      <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="login">登录</button>
    </div>
  </div>
</form>

<script>
    layui.use(function () {
        let form = layui.form;
        let layer = layui.layer;
        let $ = layui.jquery;

        // 提交事件
        form.on('submit(login)', function (data) {
            let field = data.field
            $.ajax({
                url: "/api/v1/login",
                type: "POST",
                data: JSON.stringify(data.field),
                contentType: "application/json",
                success: function (res){
                    if (res.code ===0) {
                        localStorage.setItem("access_token", res.access_token);
                        localStorage.setItem("refresh_token", res.refresh_token);
                        localStorage.setItem("user_id", res.user_id);
                        layer.msg(res.msg, {
                            icon:1,
                            time: 1000
                        }, function (){
                            location.href = "/";
                        })
                    }else{
                        layer.msg(res.msg, {
                            icon: 2,
                            time: 1000
                        })
                    }

                },
            })

            return false; // 阻止默认 form 跳转
        })
    })
</script>
{% endblock %}